@import "elements.less";
@Gainsboro: #DCDCDC;
@big-radius: 9px;
@med-radius: 7px;
@small-radius: 5px;

.rounded-bottom(@radius: @med-radius) {
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-bottom-left-radius: @radius;
  border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-bottom-right-radius: @radius;
  border-bottom-right-radius: @radius;
}

.rounded-top(@radius: @med-radius) {
  -webkit-border-top-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
  border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-top-right-radius: @radius;
  border-top-right-radius: @radius;
}

/* --------------------------- */

body {
    font-size: 10pt;
}

#wrapper {
  width: 95%;
}

.margin_auto {
  margin: auto;
}

.fora_table {
	color: black;
}

.vertical_top {
    vertical-align: top;
}

.vertical_middle {
    vertical-align: middle;
}

.vertical_bottom {
    vertical-align: bottom;
}

.fud_text_left {
    text-align: left;
}

.fud_text_center {
    text-align: center;
}

.fud_text_right {
    text-align: right;
}

.fud_padding_sm {
  padding: .15em .3em;
}

.fud_padding_md {
  padding: .25em .5em;
}

.fud_padding_bg {
  padding: .5em .1em;
}

.font-bold {
    font-weight: bold;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.pos_relative {
    position: relative;
}

.height_1em {
  /* Assuming normal line height is 1.2em */
  height: 1.2em;
}

.height_2em {
  /* Assuming normal line height is 1.2em */
  height: 2.2em;
}

.width_25 {
    width: 25%;
}

.width_40 {
    width: 40%;
}

.width_49 {
    width: 49%;
}

.width_50 {
    width: 50%;
}

.width_75 {
    width: 75%;
}

.width_100 {
    width: 100%;
}

.width_auto {
    width: auto;
}

.inline_block {
    display: inline-block;
}

.inline {
    display: inline;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear {
    clear: both;
}

.pure-button {
  .rounded(@small-radius);
}

div#main-wrapper-div {
  padding: 0 2em;
}

div#contents {
  border: thin solid gray;
  .rounded(@med-radius);
  padding: 2em;
}

div#cke_message_contents {
  margin-left: 11.2em;
}

/*--- Header ---*/

div#fud_header {
  border: thin solid gray;
  border-top: none;
  .rounded-bottom(@med-radius);
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 1em;
}

div#fud_header h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

div#fud_header h1 {
  margin-bottom: .5em;
}

div#fud_header h2 {
  font-size: .5em;
}

div#fud_header img#fud_logo {
  float: left; 
  height: 5em; 
  margin-right:1em;
}

/*--- pagination links ---*/

.fud_pagination {
  /*  background-color: @Gainsboro; */
  padding: 1em;
  margin-bottom: 1em;
  .rounded( @med-radius );
  border: thin solid gray;
}

/*--- path navigation ---*/

nav#fud_path_navigation {
  margin-bottom: 1em;
}

/*--- site navigation ---*/

nav#fud_site_navigation {
  padding: 1em 0;
  .rounded( @med-radius );
  /* border: 1px solid gray; */
  text-align: center;
}

nav#fud_site_navigation ul {
  margin: 0;
  padding: 0;
}

nav#fud_site_navigation ul li {
  display: inline;
  padding: .5em;
}

/*--- New topic buttons ---*/

span#fud_new_topic_button_bottom {
  position: absolute; 
  right: 0;
}

span#fud_new_topic_button_top {
  position: absolute; 
  right: 0;
}

/*--- table ---*/

div#table_wrapper_unit div#contents table.fud_table {
  width: 100%;
  font-size: 10pt;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
}

div#table_wrapper_unit div#contents table.fud_table .fud_wide_column{
  min-width: 75%;
  width: 75%;
}

/*--- thead ---*/

.fud_table th {
  /* border-bottom: thin solid gray; */
}

/*--- tbody ---*/

table.fud_table td.category {  
  border-top: thin solid gray;
  background-color: #CCF;
}

.fud_table span.toggler {
  font-family: monospace;
  padding: .25em .5em;
}

.fud_table td.category span {
  margin-right: 1em;  
}

/*--- List of fora ---*/

#fora_table img.fud_forum_icon {
  float: left;
}

#fora_table .fud_padding_sm {
  .fud_padding_sm;
}

#fora_table .fud_padding_md {
  .fud_padding_md;
}

#fora_table .fud_padding_bg {
  .fud_padding_bg;
}

#fora_table tr .category {
    /* background-color: darken( @Gainsboro, 10% ); */
}

#fora_table td div.date {
    font-size: smaller;
}

#fora_table img.fud_new_messages_icon {
  height: 25px; 
}

#fora_table img.fud_forum_icon {
  height: 25px; 
}

/*--- List of topics within a forum ---*/


#topics_table td.last_message span.author {
    font-size: small;
}

#topics_table td.topic div.author_and_date {
    .fud_text_right;
}

#topics_table td div.date {
    font-size: smaller;
}

#topics_table img.fud_new_messages_icon {
height: 25px; 
}

#topic_table img.fud_forum_icon {
height: 25px; 
}

/*--- List of messages within a topic ---*/

.fud_post {
    /* background-color: Gainsboro; */
    border: 1px solid;
    margin-bottom: 5px;
    .rounded(@med-radius);
}

.fud_post div.header {
    border-bottom: 1px solid gray;
    padding: 5px 5px 5px 5px;
}

.fud_post div.header span.subject {
    font-weight: bold;
    margin-right: 1.5em;
    vertical-align: middle;
}

.fud_post div.header span.id {
    font-size: small;
    margin-right: 3em;
    vertical-align: middle;
}

.fud_post div.header span.date {
    font-size: small;
    vertical-align: middle;
    text-align: right;
}

.fud_post div.author {
    border-bottom: 1px solid gray;
    padding: 5px 5px 5px 5px;
    /* background-color: lighten( @Gainsboro, 5% ); */
}

.fud_post div.body {
    padding: 10px 5px 10px 5px;
    /*  background-color: lighten( @Gainsboro, 10% ); */
}

.fud_post div.actions span {
	padding: 5px 5px 5px 5px;
}
